.container {
  padding: 0 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1020px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0070f3;
}

.title a {
  color: #0070f3;
  text-decoration: none;
  margin-bottom: 2rem;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 2rem 0 ;
  line-height: 1.15;
  font-size: 4rem;
  cursor: pointer;
}
.title span {
  color:red
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 0 0 2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}
.description a {
  color: #0070f3;
  text-decoration: none;
}
.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  min-height: 400px;
}
.link {
  cursor: pointer;
}
.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #777;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
  height: 100%;
  cursor: pointer;
}

.card:hover,
.card:focus,
.card:active {
  /* color: #0070f3; */
  border-color: #0070f3;
}

.card h2 {
  margin: 1rem 0 .4rem 0;
  font-size: 1.2rem;
}

.card p {
  margin: 1rem 0 0 0;
  font-size: 1rem;
  line-height: 1.5;
}
.card span {
  color: #ccc
}
.chipContainer {
  display: flex;
  padding: 1rem 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
}
.chip {
  margin: .5rem;
  padding: .5rem .8rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #777;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  height: 100%;
  cursor: pointer;
}
.chip:hover,
.chip:focus,
.chip:active {
  /* color: #0070f3; */
  border-color: red;
  background-color: red;
}

.indicator {
  margin: 0 .5rem;
  padding: .5rem .8rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #777;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  cursor: pointer;
}
.indicator:hover,
.indicator:focus,
.indicator:active {
  /* color: #0070f3; */
  border-color: red;
  background-color: red;
}
.selected {
  border-color: red;
  background-color: red;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.locationWrapper {
  display: flex;
  padding: 1rem 0;
  width: 100%;
}
.locationWrapper h3{
  margin: .5rem 0;
}
.locationWrapper h4{
  margin: 0 0 .5rem 0 ;
}

.locationContainer {
  display: flex;
   flex: 1;
   align-items: center
}
.locationContainer span {
  color: #ddd
}
.iconContainer {
  background-color: #222;
  border-radius: 5px;
  padding: .5rem;
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}
.map {
  border: 0;
  width: 800px;
  height: 400px;
}

@media (max-width: 600px) {
  .main {
    padding-top: 1rem;
  }
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 1rem;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .locationWrapper {
    display: "flex";
    flex-direction: column;
  }
  .locationContainer {
    margin-bottom: 1rem;
  }
  .map {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
